.DS_Store
*.wav
Python/gui/tools/*
Python/gui/build/*
Python/gui/dist/*
Python/gui_demodulator/build/*
Python/gui_demodulator/dist/*
Python/gui_demodulator/icon.iconset/*
Python/gui_demodulator/icon.icns