.DS_Store
*.txt
Python/gui/tools/*
Python/gui/build/*
Python/gui/dist/*
Python/gui_demodulator/build/*
Python/gui_demodulator/dist/*
Python/gui_demodulator/icon.iconset/*
Python/gui_demodulator/icon.icns__pycache__/
__pycache__/
*.venv/
Testing/results/*
Testing/test_files/acoustic_localization/audio_files/*