.DS_Store
*.txt
Software/gui/tools/*
Software/gui/build/*
Software/gui/dist/*
Software/gui_demodulator/build/*
Software/gui_demodulator/dist/*
Software/gui_demodulator/icon.iconset/*
Software/gui_demodulator/icon.icns__pycache__/
__pycache__/
*.venv/
Testing/results/*
Testing/test_files/acoustic_localization/*/audio_files/*

Audio_watermark_generator-backups/
build/
dist/
results/

Testing/test_files/demodulator_autotest/*

pyrightconfig.json